In [8]:
import pandas as pd


df_dogumhizi = pd.read_csv('dogumhizi.csv', encoding='utf-8')

df_2022evlilikyas = pd.read_csv('2022evlilikyas.csv', encoding='utf-8')

df_gdpProvince = pd.read_csv('gdp_province.csv', encoding='utf-8')

df_ihracat = pd.read_csv('ihracat_dolar_2022.csv', encoding='utf-8')

df_starbucks = pd.read_csv('starbucks.csv', encoding='utf-8')

df_election_results = pd.read_csv('election_results.csv', encoding='utf-8')

# Merge the DataFrames based on the 'city' column
# Merge DataFrames on 'city' column
df_merged = pd.merge(df_dogumhizi, df_2022evlilikyas, on='city')
# df_merged = pd.merge(df_merged, df_gdpProvince, on='city' )
# df_merged = pd.merge(df_merged, df_ihracat, on='city')
# df_merged = pd.merge(df_merged, df_starbucks, on='city')
# df_merged = pd.merge(df_merged, df_election_results, on='city')


df_merged

              city  birth_rate  men_marriage_age  women_marriage_age
0            Adana        1.82              28.2                25.5
1         Adıyaman        2.24              28.2                25.2
2   Afyonkarahisar        1.61              26.7                24.0
3             Ağrı        2.51              26.9                22.7
4           Amasya        1.38              28.1                25.5
..             ...         ...               ...                 ...
74           Iğdır        1.99              28.0                24.2
75          Yalova        1.39              28.9                26.3
76         Karabük        1.21              28.5                26.0
77        Osmaniye        1.98              27.5                24.8
78           Düzce        1.48              27.9                25.5

[79 rows x 4 columns]